body{
    background-color: rgb(27, 32, 41);
    color: aliceblue;
    overflow: hidden;

}
#homebg{
    min-height: 100%;
    min-width:  100%;
    position: fixed;
    bottom: 0;
    right: 0;
}
.button {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 180px;
    top: 120px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .button:hover {
    box-shadow: .5px .5px 150px #252525;
  }
  
  .type1::after {
    content: "Lets Go!!!";
    height: 50px;
    width: 150px;
    background-color: #008080;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1::before {
    content: "Facebook";
    height: 50px;
    width: 150px;
    background-color: #fff;
    color: #008080;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
  }
  .type2::after {
    content: "Lets Go!!!";
    height: 50px;
    width: 150px;
    background-color: #008080;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type2::before {
    content: "Github";
    height: 50px;
    width: 150px;
    background-color: #fff;
    color: #008080;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type2:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .type2:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
  }
  .type3::after {
    content: "Lets Go!!!";
    height: 50px;
    width: 150px;
    background-color: #008080;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type3::before {
    content: "linkedin";
    height: 50px;
    width: 150px;
    background-color: #fff;
    color: #008080;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type3:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .type3:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
  }
  .type4::after {
    content: "Lets Go!!!";
    height: 50px;
    width: 150px;
    background-color: #008080;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type4::before {
    content: "Instagram";
    height: 50px;
    width: 150px;
    background-color: #fff;
    color: #008080;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type4:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .type4:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
  }
.logo{
    position: fixed;  
    z-index: 2;  

}
.header{
    position: fixed;
    text-align: left;
    overflow: hidden;
    text-decoration: none;
    left: 0;
    top: 0;
    width: 100%;
    padding: 3rem 9%;
    filter: drop-shadow(10px);
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.navbar{
    position: fixed;
    right: 120px;
    top: 60px;

}
.navbar a{
    font-size: 20px;
    margin-left: 30px;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    color: aliceblue;
}
.navbar a:hover,
.navbar a.active{
    color: green;
    border-bottom: 3px solid green;
}
.menu-icon{
    font-size: 3.6rem;
    color: green;
    display: none;

}
.textb{
    position: relative;
    text-align: left;
    top: 300px;

}
.textb p{
    text-align: center;
    position: relative;
    bottom: 100px;
    right: 625px;
    font-size: 26px;
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-variation-settings: "ELGR" 1,"ELSH" 2;
    color: aliceblue;
}
.text1{
    text-align: center;
    position: relative;
    bottom: 170px;
    right: 550px;
    font-size: 90px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 5px;
    color: aliceblue;
}
.text2{
    text-align: center;
    position: relative;
    bottom: 310px;
    left: 10px;
    font-size: 90px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 255, 17);
}
.textb pre{
        text-align: center;
        position: relative;
        bottom: 380px;
        right: 600px;
        font-size: 13px;
        letter-spacing: 1px;
}
.text1{
    margin-right: 5px;
}
.text2{
    border-right: 2px solid #61dafb;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: typing 4s steps(30) infinite, blink-caret 1.7s step-end infinite;
}
@keyframes typing {
    0% {
        width: 0%;
    }
    25% {
        width: 50%;
    }
    50% {
        width: 60%;
    }
    75% {
        width: 60%;
    }
    100% {
        width: 0%;
    }
}
@keyframes blink-caret {
    from {
        border-color: transparent;
    }
    to {
        border-color: #61dafb;
    }
}
.text2::before {
    content: "Shawn Arakal";
    animation: changeText 16.1s steps(15) infinite;
}
@keyframes changeText {
    0%,
    20% {
        content: "Shawn Arakal";
    }
    30%,
    49% {
        content: "A Web Developer";
    }
    53%,
    74% {
        content: "An Android Developer";
    }
    75%,
    98% {
        content: "A Designer";
    }
}
.businessman{
    position: fixed;
    z-index: 2;
    left: 610px;
    top: 240px;
    height: 75%;

}
.cloud1{
    position: fixed;
    height: 250px;
    width: 270px;
    left: 82%;
    top: 18%;
    z-index: 2;
}
.cloud2{
    position: fixed;
    height: 290px;
    width: 370px;
    left: 62%;
    top: 18%;
    z-index: 2;

}
.cloud1 , .cloud2 {
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-duration: 0.5s;
  }
  
  .delay-1 {
    animation-delay: 0.6s;
  }
  .delay-2 {
    animation-delay: 0.7s;
  }
  .delay-3 {
    animation-delay: 0.8s;
  }
  
  @keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
  